<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
$helper = $this->helper('Hiddentechies\Pixtron\Helper\Data');
$showNewsletter = $helper->getConfigValue('pixtronsettings/newsletter_settings/enable');
$showFooterColumns = $helper->getConfigValue('pixtronsettings/footer_columns/enable_footer_columns');
$footerStColumnSelect = $helper->getConfigValue('pixtronsettings/footer_columns/footer_st_column_select');
$footerStColumn = $helper->getConfigValue('pixtronsettings/footer_columns/footer_st_column');
$footerNdColumn = $helper->getConfigValue('pixtronsettings/footer_columns/footer_nd_column');
$footerRdColumn = $helper->getConfigValue('pixtronsettings/footer_columns/footer_rd_column');
$footerTopStatic = $helper->getConfigValue('pixtronsettings/footer_columns/footer_top_static');
$address = $helper->getConfigValue('pixtronsettings/footer_contant/address');
$email = $helper->getConfigValue('pixtronsettings/footer_contant/email');
$phone = $helper->getConfigValue('pixtronsettings/footer_contant/phone');
$enableFooterBottom = $helper->getConfigValue('pixtronsettings/footer_bottom/enable_footer_bottom');
$copyrightText = $helper->getConfigValue('pixtronsettings/footer_bottom/copyright_text');
$copyrightRightBlock = $helper->getConfigValue('pixtronsettings/footer_bottom/copyright_right_block');
?>
<div class="footer-top">
    <?php if ($showNewsletter) { ?>
        <div class="footer-newsletter">
            <div class="page-main">
                <?php echo $this->getChildHtml('form.subscribe'); ?>
            </div>
        </div>
    <?php } ?>
    <?php if ($footerTopStatic != '') { ?>
        <div class="footer-above">
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($footerTopStatic)->toHtml(); ?>
        </div>
    <?php } ?>
    <?php if ($showFooterColumns) { ?>
        <div class="footer-links">
            <div class="page-main">
                <div class="footer-links-main">
                    <div class="footer-links-column">
                        <?php if ($footerStColumnSelect == 'quicklinks') { ?>
                            <div class="footer-colum-title">
                                <h3>
                                    Quick Links
                                </h3>
                            </div>
                            <div class="footer-column-content">
                                <?php echo $this->getChildHtml('footer_links'); ?>
                            </div>
                        <?php } else { ?>
                            <?php if ($footerStColumn != '') { ?>
                                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($footerStColumn)->toHtml(); ?>
                            <?php } ?>
                        <?php } ?>
                    </div>
                    <div class="footer-links-column">
                        <?php if ($footerNdColumn != '') { ?>
                            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($footerNdColumn)->toHtml(); ?>
                        <?php } ?>
                    </div>
                    <div class="footer-links-column">
                        <?php if ($footerRdColumn != '') { ?>
                            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($footerRdColumn)->toHtml(); ?>
                        <?php } ?>
                    </div>
                    <div class="footer-links-column">
                        <div class="footer-colum-title">
                            <h3>
                                Contacto
                            </h3>
                        </div>
                        <div class="footer-column-content">
                            <div class="content">
                                <?php if ($address != '') { ?>
                                    <p class="address">
                                        <strong>
                                            <em class="fa fa-home"></em>&nbsp;&nbsp;<span>Dirección: </span>
                                        </strong> 
                                        <span><?php echo $address; ?></span>
                                    </p>
                                <?php } ?>
                                <?php if ($email != '') { ?>
                                    <p class="email">
                                        <strong>
                                            <em class="fa fa-send"></em>&nbsp;&nbsp;<span>Envíenos un correo electrónico: </span>
                                        </strong>
                                        <span>
                                            <a href="mailto:<?php echo $email; ?>" title="Mail to: <?php echo $email; ?>"><?php echo $email; ?></a>
                                        </span>
                                    </p>
                                <?php } ?>
                                <?php if ($phone != '') { ?>
                                    <p class="phone">
                                        <strong>
                                            <em class="fa fa-phone"></em>&nbsp;&nbsp;<span>Teléfono: </span>
                                        </strong>
                                        <span><?php echo $phone; ?></span>
                                    </p>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
</div>
<?php if ($enableFooterBottom) { ?>
    <div class="footer-bottom">
        <div class="page-main">
            <div class="copuright-outer">
                <small class="copyright">
                    <span><?php /* @escapeNotVerified */ echo $copyrightText; ?></span>
                </small>
                <?php if ($copyrightRightBlock != '') { ?>
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($copyrightRightBlock)->toHtml(); ?>
                <?php } ?>
            </div>
        </div>
    </div>
<?php } ?>